body{
margin:0;
font-family:Arial;
}

/* backgrounds */
.home{
background:linear-gradient(to right,#ff758c,#ff7eb3);
color:white;
}

.question{
background:#fff0f5;
position:relative;
overflow:hidden;
}

.yes-page{
background:linear-gradient(to right,#ff4e50,#fc913a);
color:white;
overflow:hidden;
}

/* YES button grow smooth */
#yesBtn{
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* hearts */
.heart{
position:fixed;
top:-10px;
font-size:22px;
animation:fall linear infinite;
}

@keyframes fall{
to{transform:translateY(100vh);}
}

/* mobile */
@media(max-width:768px){
h1{font-size:28px;}
}






.note-btn{
    position: fixed;
    bottom: 30px;
    right: 630px;
    z-index: 9999;
    background: #ff3b6b;
    color: white;
    border: none;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.note-btn:hover{
    background: #e6004c;
}






/* Note Button */
.note-btn {
    position: fixed;
    bottom: 220px;
    right: 135px;
    padding: 10px 20px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    z-index: 1000;
}

/* Full Screen Overlay */
.note-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none; /* hidden first */
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Note Box */
.note-content {
    background: rgb(245, 244, 244);
    padding: 30px;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;
}

/* Close Button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
    font-size: 20px;
}

/* Animation */
@keyframes fadeIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}




.para{
    font-family: cursive;
}